layout {
    pane size=1 borderless=true {
        plugin location="tab-bar"
    }
    pane command="bash" {
        args "./run.sh" "none" "wizard"
    }
    pane size=1 borderless=true {
        plugin location="status-bar"
    }
}
